- var header1 = {model: 'Модель', liters: 'Л/сутки', residents: 'Жители', reset: 'Залп.сброс, л', coast: 'BYN'};
- var header2 = {model: 'Модель', liters: 'Л/сутки', residents: 'Жители', coast: 'BYN'};

mixin table(characteristics)
    table.table
        thead
            tr
                if (characteristics[0].reset)
                    each item in header1
                        th=item

                else if (header2.length===characteristics[0].length)
                    each item in header2
                        th=item
        tbody
            each i in characteristics
                tr 
                    td.model=i.model 
                    td=i.liters
                    td=i.residents
                    if (i.reset)
                        td=i.reset 
                    td.coast=i.coast

mixin table-caisson(caissons)
    table.table-caisson
        thead
            tr
                th Модель кессона
                th Размеры, мм
                th Высота корпуса, мм
                th BYN
        tbody
            each caisson in caissons
                tr 
                    td.model=caisson.model
                    td.size=caisson.size
                    td=caisson.height
                    td.coast=caisson.cost


