//-stations
-var stations = [{title: 'KANN серии ULTRA', text: 'Горизонтальная станция биологической очистки KANN серии ULTRA имеет производительность от 1000 до 5000 л/сутки и рассчитана на количество проживающих от 4 до 25 человек. Принцип работы септика основан не мелко-пузырчатой аэрации, которую создает аэрационная установка, поставляемая в комплекте. За счет подачи воздуха в станцию, а также дополнительных механизмов очистки происходит полная очистка стоков до уровня 98%. Полученная на выходе вода не имеет запаха, прозрачна и бесцветна. Такую воду можно дренировать в грунт. Станция KANN серии ULTRA подходит как для постоянного проживания, так и для сезонного (дачный вариант). Все конструктивные элементы и детали станций серии ULTRA, контактирующие со сточными водами, выполнены из коррозионностойких полимеров. Обслуживание станции заключается в периодической откачке избыточного ила. Откачка производится при помощи дренажного насоса (погружается через люк обслуживания) или при помощи илососной машины.', images: ['src/images/septiki/stations/kann/ultra/ultra.jpg','src/images/septiki/stations/kann/ultra/ultra1.jpg','src/images/septiki/stations/kann/ultra/ultra2.jpg','src/images/septiki/stations/kann/ultra/ultra3.jpg','src/images/septiki/stations/kann/ultra/ultra4.jpg','src/images/septiki/stations/kann/ultra/ultra5.jpg','src/images/septiki/stations/kann/ultra/ultra6.jpg','src/images/septiki/stations/kann/ultra/ultra7.jpg','src/images/septiki/stations/kann/ultra/ultra8.jpg','src/images/septiki/stations/kann/ultra/ultra9.jpg'], characteristics: [{model: 'KANN Ultra - 5', liters: '1000', residents: '4-5', reset: '300', coast: '3640'},{model: 'KANN Ultra - 6', liters: '1200', residents: '5-6', reset: '360', coast: '3980'},{model: 'KANN Ultra - 8', liters: '1600', residents: '6-8', reset: '450', coast: '4080'},{model: 'KANN Ultra - 10', liters: '2000', residents: '8-12', reset: '650', coast: '4280'},{model: 'KANN Ultra - 15', liters: '3000', residents: '12-16', reset: '875', coast: '5090'}]}, {title: 'KANN серии ECO', text: 'Горизонтальная станция биологической очистки KANN серии ECO имеет производительность от 400 до 2 250 л/сутки и рассчитана на количество проживающих от 2 до 15 человек. Принцип работы септика основан не мелко-пузырчатой аэрации, которую создает аэрационная установка, поставляемая в комплекте. За счет подачи воздуха в станцию, а также дополнительных механизмов очистки происходит полная очистка стоков до уровня 98%. Полученная на выходе вода на выходе не имеет запаха, прозрачна и бесцветна. Такую воду можно дренировать в грунт.', images: ['src/images/septiki/stations/kann/eco/eco.jpg','src/images/septiki/stations/kann/eco/eco1.jpg','src/images/septiki/stations/kann/eco/eco2.jpg','src/images/septiki/stations/kann/eco/eco3.jpg','src/images/septiki/stations/kann/eco/eco4.jpg','src/images/septiki/stations/kann/eco/eco5.jpg','src/images/septiki/stations/kann/eco/eco6.jpg'], characteristics: [{model: 'KANN ECO - 3', liters: '400', residents: '1-3', reset: '100', coast: '2450'},{model: 'KANN ECO - 4', liters: '600', residents: '3-4', reset: '200', coast: '2650'}, {model: 'KANN ECO - 6', liters: '900', residents: '4-6', reset: '300', coast: '2850'},{model: 'KANN ECO - 8', liters: '1200', residents: '6-8', reset: '400', coast: '3050'},{model: 'KANN ECO - 10', liters: '1500', residents: '8-10', reset: '500', coast: '3400'},{model: 'KANN ECO - 15', liters: '2250', residents: '10-15', reset: '750', coast: '3990'}]},{title: 'KANN серии V', text: 'Вертикальная станция биологической очистки KANN серии V имеет производительность от 700 до 1 600 л/сутки и рассчитана на количество проживающих от 2 до 8 человек. Принцип работы септика основан не мелко-пузырчатой аэрации, которую создает аэрационная установка, поставляемая в комплекта. За счет подачи воздуха в станцию, а так же дополнительных механизмов очистки происходит полная очистка стоков до уровня 98%. Вода на выходе не имеет запаха, прозрачна и бесцветна. Такую воду можно дренировать в грунт.', images: ['src/images/septiki/stations/kann/v/v.jpg','src/images/septiki/stations/kann/v/v1.jpg','src/images/septiki/stations/kann/v/v2.jpg','src/images/septiki/stations/kann/v/v3.jpg','src/images/septiki/stations/kann/v/v4.jpg','src/images/septiki/stations/kann/v/v5.jpg','src/images/septiki/stations/kann/v/v6.jpg'], characteristics: [{model: 'KANN V - 3.0', liters: '500', residents: '2-4', coast: '2320'}, {model: 'KANN V - 4.0', liters: '800', residents: '3-4', coast: '2690'},{model: 'KANN V - 6.0', liters: '1200', residents: '5-6', coast: '3190'}, {model: 'KANN V - 8.0', liters: '1600', residents: '7-8', coast: '3900'}]},{title: 'KANN серии BIO', text: 'Горизонтальная станция биологической очистки KANN серии BIO имеет производительность от 1 000 до 15 000 л/сутки и рассчитана на количество проживающих от 1 человек. Принцип работы септика основан не мелко-пузырчатой аэрации, которую создает аэрационная установка, поставляемая в комплекте. За счет подачи воздуха в станцию, а также дополнительных механизмов очистки происходит полная очистка стоков до уровня 65%. Полученная на выходе вода не имеет запаха, прозрачна и бесцветна. Такую воду можно дренировать в грунт.', images: ['src/images/septiki/stations/kann/bio/bio.jpg','src/images/septiki/stations/kann/bio/bio1.jpg','src/images/septiki/stations/kann/bio/bio2.jpg','src/images/septiki/stations/kann/bio/bio3.jpg','src/images/septiki/stations/kann/bio/bio4.jpg','src/images/septiki/stations/kann/bio/bio5.jpg','src/images/septiki/stations/kann/bio/bio6.jpg'], characteristics: [{model: 'KANN Bio - 1', liters: '1000', residents: '1-5', coast: '1190'},{model: 'KANN Bio - 1,5', liters: '1500', residents: '1-7', coast: '1470'},{model: 'KANN Bio - 2', liters: '2000', residents: '1-9', coast: '1690'},{model: 'KANN Bio - 2,5', liters: '2500', residents: '1-11', coast: '2090'},{model: 'KANN Bio - 3', liters: '3000', residents: '1-14', coast: '2550'},{model: 'KANN Bio - 4', liters: '4000', residents: '4-5', coast: '2590'},{model: 'KANN Bio - 5', liters: '5000', residents: '4-5', coast: '2590'},{model: 'KANN Bio - 6', liters: '6000', residents: '4-5', coast: '3730'},{model: 'KANN Bio - 8', liters: '8000', residents: '4-5', coast: '2090'},{model: 'KANN Bio - 10', liters: '10000', residents: '4-5', coast: '3730'},{model: 'KANN Bio - 15', liters: '15000', residents: '4-5', coast: '7000'}]}]

include ../../common/table/table.pug

mixin station(title, text, images, characteristics)
    section.station-section
        div.station-section__container
            div.station-section__body
                div.station-section__left
                    h3.station-section__title.station-title-mobile=title
                    div.station-section__photos.station-mobile
                        img.station__top-photo.border.gallery__item(src=images[0]).otzer
                        div.station__bottom-photo
                            img.border.gallery__item(src=images[1] alt="Фото")
                            img.border.gallery__item(src=images[2] alt="Фото")
                            img.border.gallery__item(src=images[3] alt="Фото")
                            img.border.gallery__item(src=images[4] alt="Фото")
                            img.border.gallery__item(src=images[5] alt="Фото")
                            img.border.gallery__item(src=images[6] alt="Фото")
                    div.station-section__content
                        h3.station-section__title=title
                        div.station-section__description
                            p.text=text
                    div.station-section__table
                        +table(characteristics)
                        div.station-section__buttons.buttons
                            a(href='https://t.me/Kanalizaciavdom' class='button' target="_blank" ).buttons__telegram.button Спросить в Telegram
                            a(href='tel:+375293439439' class='button').buttons__phone.button +375 29 3 439 439
                div.station-section__photos.gallery
                    img.station__top-photo.border.gallery__item(src=images[0]).otzer
                    div.station__bottom-photo
                        img.border(src=images[1] alt="Фото", class="gallery__item")
                        img.border(src=images[2] alt="Фото", class="gallery__item")
                        img.border(src=images[3] alt="Фото", class="gallery__item")
                        img.border(src=images[4] alt="Фото", class="gallery__item")
                        img.border(src=images[5] alt="Фото", class="gallery__item")
                        img.border(src=images[6] alt="Фото", class="gallery__item")
                div.station-section__table.table-tablet
                    +table(characteristics)
                    div.station-section__buttons.buttons
                        a(href='https://t.me/Kanalizaciavdom' class='button' target="_blank").buttons__telegram.button Спросить в Telegram
                        a(href='tel:+375293439439' class='button').buttons__phone.button +375 29 3 439 439

for i in stations 
    +station(i.title, i.text, i.images, i.characteristics)